/*全局定义 ===================================================*/
html, body{ height: 100%; }
h1,h2,h3,h4,h5,p{ margin: 0px; padding: 0px; }
body{ font-size: 13px; font-family: "Airal","微软雅黑"; background: #eee!important; }
ul{ padding: 0px; margin: 0px; list-style: none; }
a{ color: #333; }
a:hover{ color: #0590d3!important; }
a, a:hover, a:focus{ text-decoration: none!important; }
a img, img, a:focus{ outline: none; border: none; }
input, textarea, button, a{ outline: none; }